:root {
    --db: #0000ff;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --navbar_bg: #402F3F;
    --navbar_link: #999;
    --menu: #464646;
    --bg: #f7f7f7;
    --review:#999;
    background-color: var(--bg);
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {

    color: inherit;
    text-decoration: none;

}

.wrapper {
    
    display: flex;
    justify-content: center;

}

ul {
    list-style-type: none;
}

.aic {
    align-items: center;
}

.arrow-left {
    height: 0;
    width: 0;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    border-right: 60px solid var(--db);
}

.arrow-right {
    height: 0;
    width: 0;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    border-left: 60px solid var(--db);
}

.answer-content {
    width: -webkit-fill-available;
    display: flex;
    font-weight: bold;
}

#question {
    color: #fff;
    margin-inline: 10%;
    width: -webkit-fill-available;
    text-align: center;
    padding: 4px 0;
    display: flex;
    justify-content: center;
}

#question-value {
    width: -webkit-fill-available;
    background: var(--db);
    padding: 14px 0;
}







